
@{
    ViewData["Title"] = "Index";
}



<h1>Вход</h1>
<form method="post" action="/Admin/Index">
    <label>Введите логин:</label>
    <input name="Login" type="text" />
    <label>Введите пароль:</label>
    <input name="Password" type="text" />
    <input type="submit" value="enter" />
</form>