@model IEnumerable<Web_project.Models.User>
@{
    ViewData["Title"] = "List";
}

<table border="1" width="80%">
    <tr>
        <th width="30%">Логин</th>
        <th width="30%">Пароль</th>
        <th width="20%">Почта</th>
        <th width="15%">Номер телефона</th>
        <th width="5%"></th>
    </tr>
    @foreach (var u in Model)
    {
        <tr>
            <td>@u.Login</td>
            <td>@u.Password</td>
            <td>@u.Mail</td>
            <td>@u.PhoneNumber.ToString()</td>
            <th>
                <p><a href="/Admin/Edit/@u.Id">edit</a></p>
                <p><a href="/Admin/Delete/@u.Id">delete</a></p>
            </th>
        </tr>
    }
</table>

<a href="/Admin/Add">add</a>

